.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 60px; height: 60px;
  right: 50%; margin-right: -25px;
  z-index: 9;
  padding-right: 11px;
  padding-left: 11px;
}
.form-control option{
 color:#313131 !important;
}


.btn-group-sm .btn-fab{
  position: fixed !important;
  right: 29px;
}
.btn-group .btn-fab{
  position: fixed !important;
  right: 20px;
}
#main{
  bottom: 20px;
}
#mail{
  bottom: 80px
}
#sms{
  bottom: 125px
}
#autre{
  bottom: 170px
}

.hidden{
  display:none !important
}