{% extends "principal/index.html" %}
{% load static %}
{% block content %}

<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title ">LISTA DE FORMULARIOS</h4>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    </thead>
                    <tbody>
                        <div id='calendar'></div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'salida/ver.html' %}
{% include 'salida/modificar.html' %}
{% include 'formulario/modificar.html' %}
{% include 'formulario/ver.html' %}
{% endblock %}
{% block floating%}
  <div class="container-fluid" id="floating_btn">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group-sm hidden" id="mini-fab">
            <a href="crear_formulario" class="btn btn-info btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Formulario F15" title="Formulario F15" id="sms">
              <i class="material-icons">directions_car</i>
            </a>
            <a href="{% url 'salida:crear' %}" class="btn btn-primary btn-fab" data-toggle="tooltip" data-placement="left" data-original-title="Formulario Salida" title="Formulario Salida" id="mail">
              <i class="material-icons">description</i>
            </a>
          </div>
          <div class="btn-group">
            <a href="javascript:void(0)" class="btn btn-success btn-fab" id="main">
              <i class="fa fa-plus" style="font-weight: 100 !important;font-size: 25px;"></i>
            </a>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
{% block javascript%}
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/locales-all.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    $(function(){
        var formulario_list = {{ formulario|safe }};
        var salida_list = {{salida|safe}};

        console.log(formulario_list);
        console.log(salida_list);
        
        var formulario_all=[];

        for (let i = 0; i < formulario_list.length; i++) {
            form_row={
                id:formulario_list[i].id,
                start:formulario_list[i].start,
                end:formulario_list[i].end,
                title:formulario_list[i].descripcion,
                description:'formulario',
                color: '#30522e'
            }
            formulario_all.push(form_row);
        }
        for (let i = 0; i < salida_list.length; i++) {
            form_row={
                id:salida_list[i].id,
                start:salida_list[i].fecha_salida,
                end:salida_list[i].fecha_retorno,
                title:salida_list[i].motivo,
                description:'salida',
                color: '#a73a00'
            }
            formulario_all.push(form_row);
        }

        $('#calendar').fullCalendar({
            lang: 'es',
            themeSystem: 'bootstrap4',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listMonth'
            },
            weekNumbers: true,
            eventLimit: true,
            events: formulario_all,
            eventClick: function(event) {
              if (event.description=='salida') {
                $('#myModal').modal('toggle');
                ver_formulario_ajax(event.id,event.description,"ver");
              } else {
                //ejecutar o abrir modal
                $('#verformulariomodal').modal('toggle');
                ver_formulario_ajax(event.id,event.description,"ver");
              }          
            }
        });
    });
    
</script>
{% endblock %}