<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background:#313131cc">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="background: #353542;">
      <div class="modal-header" style="border-bottom: 0px;background:#4fb752">
        <h5 class="modal-title" id="exampleModalLabel" style="color:#fff">REGISTRAR MOVILIDAD</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/movilidad/crear_movilidad/">
        <div class="modal-body">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">{{ form.marca.label }}</label>
                  {{ form.marca}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">{{ form.modelo.label }}</label>
                  {{ form.modelo}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">{{ form.tipo.label }}</label>
                  {{ form.tipo}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">{{ form.placa.label }}</label>
                  {{ form.placa}}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">{{ form.rendimiento.label }}</label>
                  {{ form.rendimiento}}
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer" style="padding: 16px 16px 0 16px;border-top:0">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCELAR</button>
          <button type="submit" class="btn btn-success">REGISTRAR MOVILIDAD</button>
        </div>
      </form>
    </div>
  </div>
</div>