{% extends "principal/index.html" %}
{% load static %}
{% block title %} Modificar Usuarios {% endblock %}
{% block content %}
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header">
            <h5 class="title">MODIFICAR MOVILIDAD</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>{{ form.marca.label }}</label>
                    {{ form.marca}}
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label class="bmd-label-floating">{{ form.modelo.label }}</label>
                    {{ form.modelo}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 pr-md-1">
                  <div class="form-group">
                    <label>{{ form.tipo.label }}</label>
                    {{ form.tipo}}
                  </div>
                </div>
                <div class="col-md-6 pl-md-1">
                  <div class="form-group">
                    <label>{{ form.placa.label }}</label>
                    {{ form.placa}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>{{ form.rendimiento.label }}</label>
                    {{ form.rendimiento}}
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-fill btn-success">GUARDAR</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card card-profile">
          <div class="card-avatar" style="margin: -37px auto 0;">
            <a><img class="img" src="{% static 'images/icons/64/car.png' %}"/></a>
          </div>
          <div class="card-body m-0">
            <h6 class="card-category">{{ form.tipo.value }}</h6>
            <h4 class="card-title"></h4>
            <div class="row">
              <div class="col-6" >
                <img class="mx-auto d-block" src="{% static 'images/icons/32/capacidad.png' %}">
                <div class="text-center">
                    <h6 class="m-0">ESTADO</h6>
                    <p class="vvehiculoestado"><small class="blockquote-footer"> {{form.estado.value | yesno:"Activo,Inactivo"}} </small></p>
                </div>
              </div>
              <div class="col-6" style="margin-bottom:20px;">
                  <img class="mx-auto d-block" src="{% static 'images/icons/32/placa.png' %}">
                  <div class="text-center">
                      <h6 class="m-0">PLACA</h6>
                      <p><small class="blockquote-footer">{{ form.placa.value }}</small></p>
                  </div>
              </div>
              <div class="col-6" >
                  <img class="mx-auto d-block" src="{% static 'images/icons/32/marca.png' %}">
                  <div class="text-center">
                      <h6 class="m-0">MARCA</h6>
                      <p class="vmarca"><small class="blockquote-footer">{{ form.marca.value }}</small></p>
                  </div>
              </div>
              <div class="col-6" >
                  <img class="mx-auto d-block" src="{% static 'images/icons/32/modelo.png' %}">
                  <div class="text-center">
                      <h6 class="m-0">MODELO</h6>
                      <p class="vmodelo"><small class="blockquote-footer">{{ form.modelo.value }}</small></p>
                  </div>
              </div>
              <div class="col-6" style="margin-bottom:20px;">
                  <img class="mx-auto d-block" src="{% static 'images/icons/32/rendimiento.png' %}">
                  <div class="text-center">
                      <h6 class="m-0">RENDIMIENTO</h6>
                      <p class="vrendimiento"><small class="blockquote-footer">{{ form.rendimiento.value }}</small></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
