{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">´-->
  <title>
    {% block title%} Dashboard {% endblock %}
  </title>
  <!--     Fonts and icons  -->
  <link rel="stylesheet" href="{% static 'css/fontgoogle-roboto.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/material-dashboard.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/sweetalert.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">

</head>
<body class="dark-edition">
  <div class="wrapper">
    <div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
          {{ request.session.nombre }}
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav" id="sidebar_iniaf">
          <li class="nav-item dashboard">
            <a class="nav-link" href="/dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="#">
              <i class="material-icons">insert_invitation</i>
              <span>Lugares</span>
              <i class="material-icons">keyboard_arrow_down</i>
            </a>
            <ul class="treeview-menu">
              <li><a href="#"><i class="material-icons">fiber_manual_record</i>Mis Formularios</a></li>
              <li><a href="#"><i class="material-icons">fiber_manual_record</i>Formularios</a></li>
            </ul>
          </li> -->
          <li class="nav-item formulario">
            <a class="nav-link" href="/formulario">
              <i class="material-icons">insert_invitation</i>
              <p>Mis Formularios</p>
            </a>
            <li class="nav-item ">
              <a class="nav-link" href="/formulario/all" style="margin: 0 0 0 40px;padding: 0 0 0 20px;">
                <i class="material-icons">rule</i>
                <p style="font-size: .9em;">Revisar Formularios</p>
              </a>
            </li>
          </li>
          {% if request.session.prioridad != 0 %}
            <li class="nav-item ">
              <a class="nav-link" href="/programa">
                <i class="material-icons">content_paste</i>
                <p>Programas</p>
              </a>
            </li>
            <li class="nav-item partida">
              <a class="nav-link" href="/partida">
                <i class="material-icons">format_list_bulleted</i>
                <p>Partidas</p>
              </a>
            </li>
            <li class="nav-item usuario">
              <a class="nav-link" href="/usuario">
                <i class="material-icons">perm_identity</i>
                <p>Usuario</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/movilidad">
                <i class="material-icons">notifications</i>
                <p>Vehiculos</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="/asistencia">
                <i class="material-icons">content_paste</i>
                <p>Asistencia</p>
              </a>
            </li>
          {% endif %}
          <li class="nav-item ">
            <a class="nav-link" href="/mensaje">
              <i class="material-icons">email</i>
              <p>Mensajes</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
              {% block title_section%}
                <a class="navbar-brand">Dashboard</a>
              {% endblock %}
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-default btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <!--<a class="nav-link" data-toggle="modal" data-target="#Modalmensaje" id="ejecutar">-->
                <a class="nav-link" id="ejecutar" href="#">
                  <i class="material-icons">note_add</i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mensaje/">
                  <i class="material-icons">mail</i>
                  <span class="notification notificacion_mensaje"></span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="javscript:void(0)" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification notificacion"></span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="content">
        <div class="container-fluid">
          {% block content%}
          {% endblock %}
          {% include 'mensaje/crear.html' %}
          <div class="btn-group-fab" role="group" aria-label="FAB Menu" style="bottom: 20px;">
            <div>
              {% block floating%}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
      <!--footer -->
      {%include "principal/footer.html" %}
  </div>
  <!--settings-->
  {%include "principal/settings.html" %}
  <!--   Core JS Files   -->

  <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/moment.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-notify.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/perfect-scrollbar.jquery.min.js' %}"></script>

  <script type="text/javascript" src="{% static 'js/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'js/sweetalert.min.js' %}"></script>
  <script src="{% static 'js/admin.js' %}"></script>

  <!--  Notifications Plugin    -->
  <!-- <script src="../assets/js/plugins/bootstrap-notify.js"></script> -->
  <script type="text/javascript" src="{% static 'js/material-dashboard.min.js' %}"></script>

  {% block javascript %}
  {% endblock %}
  <script type="text/javascript">
    $('#sidebar_iniaf .'+$(location).attr('pathname').split('/')[1]).addClass('active');
    $.ajax({
      url: '/formulario/notificaciones/', 
      type: "GET",
      datatype: 'json'
    }).done(function(data){
      console.log(data);
      $(".notificacion").text(data.formulario_notificacion + data.salida_notificacion)
    }).fail(function(){
      showNotification('bottom','left','danger','Error Server: verifique su conexion con el servidor');
    });
    function verusuarios(id){
      $.ajax({
        url: '/usuario/obtenerusuario/', 
        type: 'GET',
        datatype: 'json'
      }).done(function(obj){
        console.log(obj)
        $('#id_usuario_mensaje').empty()
        for (let i = 0; i < obj.listausuario.length; i++) {
          $('#id_usuario_mensaje').append($('<option>', {
            value: obj.listausuario[i].id,
            text: obj.listausuario[i].nombre 
          }));
        }
        $('#Modalmensaje').modal('toggle');
      }).fail(function(){
        showNotification('bottom','left','error','Error Server: verifique su conexion con el servidor');
      });
    }
    document.getElementById("ejecutar").onclick = function(){
      verusuarios();
    }
    $.ajax({
      url: '/mensaje/notificaciones_mensaje/', 
      type: "GET",
      datatype: 'json'
    }).done(function(data){
      console.log(data);
      $(".notificacion_mensaje").text(data.mensaje_notificacion)
    }).fail(function(){
      showNotification('bottom','left','danger','Error Server: verifique su conexion con el servidor');
    });
  </script>
</body>
</html>